<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Developer's Download</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">The Developer's Download</a>
      </h1>
      <nav>
        <a href="/login">Log In</a>

        <button id="logout" class="btn-no-style">Log Out</button>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      The best news platform to get the developing story!
    </footer>
  </div>
<script src="/javascript/logout.js"></script>
</body>

</html>